on:
  push:
    tags:
      - 'v*.*.*'

# We need contents write permission to create release
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
# https://github.com/taiki-e/upload-rust-binary-action/issues/15#issuecomment-1141252687
permissions:
  contents: write

name: cd

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: CHANGELOG.md
          title: $tag
          draft: false
          branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-cratesio:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          # cargo is enough
          profile: minimal
      - name: Setup local credential
        run: cargo login ${CRATES_IO_TOKEN}
        env:
          CRATES_IO_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
      - name: Publish package
        run: cargo publish
