name: ci
on: 
  pull_request:
    types: ["opened", "synchronize"]

permissions:
  contents: read
  actions: write

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    - uses: taiki-e/install-action@v2
      with:
        tool: cargo-make,cargo-sort,cargo-nextest
    - run: cargo make lint
    - run: cargo make test
